.show_upload_pic{margin-top: 5px;border-left: 5px solid #CCCCCC;}
.show_upload_pic_item{position: relative;width: 100px;height: 121px;margin-right: 10px;text-align: center;overflow: hidden;float: left;}
.alioss_percent{position: absolute;z-index: 2;width: 30px;height: 30px;border-radius: 50%;text-align: center;line-height: 30px;background-color: red;top: 35px;left: 35px;color: #ffffff;}
.operat_warp{display: none}
.show_upload_pic_item > img{cursor: pointer}
.show_upload_pic_item .Js_alioss_btn{margin-bottom: 3px;border: 1px solid #CCCCCC;box-sizing: border-box;width: 98px}
.show_upload_pic .show_upload_pic_item > img{cursor: move;}
